{# <form method="post" action="{{ path('admin.social.delete', {'id': social_media.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ social_media.id) }}">
    <button class="btn">Supprimer</button>
</form> #}
{# <form method="post" action="{{ path('admin.social.delete', {'id': social_media.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce réseau social ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ social_media.id) }}">
    <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
        Supprimer
    </button>
</form> #}
<form method="post" action="{{ path('admin.social.delete', {'id': social_media.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce réseau social ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ social_media.id) }}">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
        Supprimer
    </button>
</form>