{% extends 'admin/base_admin.html.twig' %}

{% block title %}Modifier le membre{% endblock %}

{% block in_body %}
<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <div class="w-full max-w-3xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="bg-white rounded-lg sm:p-5">
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Modifier les infromations du membre</h3>
            </div>
            <!-- Modal body -->
            {{ form_start(form) }}
                <div class="grid gap-4 mb-4 sm:grid-cols-1">
                    <div>
                        {{ form_label(form.fullName, 'Nom complet du membre', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(form.fullName, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}}) }}
                        {{ form_errors(form.fullName, {'attr': {'class': 'text-red-500 text-sm'}}) }}
                    </div>
                    <div>
                        {{ form_label(form.fonction, 'Fonction du membre', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(form.fonction, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}}) }}
                        {{ form_errors(form.fonction, {'attr': {'class': 'text-red-500 text-sm'}}) }}
                    </div>
                    <div>
                        {{ form_label(form.description, 'Petite description (max: 120)', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(form.description, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}}) }}
                        {{ form_errors(form.description, {'attr': {'class': 'text-red-500 text-sm'}}) }}
                    </div>
                </div>

                <div class="grid gap-2 mb-4 sm:grid-cols-3">
                    <div>
                        {{ form_label(form.facebookLink, 'Lien facebook', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(form.facebookLink, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}}) }}
                        {{ form_errors(form.facebookLink, {'attr': {'class': 'text-red-500 text-sm'}}) }}
                    </div>
                    <div>
                        {{ form_label(form.xlink, 'Lien X', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(form.xlink, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}}) }}
                        {{ form_errors(form.xlink, {'attr': {'class': 'text-red-500 text-sm'}}) }}
                    </div>
                   <div>
                        {{ form_label(form.linkedinlink, 'Lien LinkeDin', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(form.linkedinlink, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}}) }}
                        {{ form_errors(form.linkedinlink, {'attr': {'class': 'text-red-500 text-sm'}}) }}
                    </div>
                </div>
                <div class="items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                    <button type="submit" class="cursor-pointer w-full sm:w-auto justify-center text-white inline-flex bg-gradient-to-r from-green-400 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Modifier</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
</section>
{% endblock %}
