{% extends 'admin/base_admin.html.twig' %}

{% block title %}Admin | Modifier le service {{service.name}}{% endblock %}
{% block in_body %}
<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <div class="w-full mx-auto max-w-3xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="bg-white rounded-lg sm:p-5">
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Modifier de service</h3>
            </div>
            <!-- Modal body -->
            {{ form_start(form) }}
                <div class="grid gap-4 mb-4 sm:grid-cols-1">
                    <div>
                        {{ form_label(form.name, 'Nom de service', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(form.name, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}}) }}
                        {{ form_errors(form.name, {'attr': {'class': 'text-red-500 text-sm'}}) }}
                    </div>
                    <div class="sm:col-span-2">
                        {{ form_label(form.description, 'Petite description', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(form.description, {'attr': {'class': 'block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}}) }}
                        {{ form_errors(form.description, {'attr': {'class': 'text-red-500 text-sm'}}) }}
                    </div>
                </div>
                <div class="items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                    <button type="submit" class="cursor-pointer w-full sm:w-auto justify-center text-white inline-flex bg-gradient-to-r from-green-400 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Modifier le service</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    </div>
</section>
{% endblock %}